In [3]:
print("hello world")

hello world

this is what im doing

In [4]:
x = 5

In [5]:
print(x+4)

9

In [9]:
x = "john"
y = 5.0
z = "1234"
z = str(1234)
a = 5.0
print(type(a))
print(z)
print(type(z))

<class 'float'>
1234
<class 'str'>

In [ ]:
# list, dynamic
x = ['a','b','c', 'a']
# tuple, static
x = ('a','b','c')
#set
x = {"apple", "banana", "c"}

In [14]:
"""
asdf
asdfasdf
asdfasdf
"""
print("hi")
x = 5
if x > 4:
  print("hey")

hi
hey

In [21]:
x = [1,2,3,4,5]
print(x[0])
print(x[1])
print(x[3])

x = "Thequickbrownfox"
print(x[2])
print(x[:3])
print(x[3:])
print(x[-2])
print(x[2:5])

1
2
4
e
The
quickbrownfox
o
equ

In [33]:
x = "thequickbrownfox"
print(x[:3])
print(x[3:8])
print(x[8:13])
print(x[13:16])
x="iwanttowatchloveisland"
print(x[:5])
print(x[5])
print(x[6:9])
print(x[9:])
x = "thecutebunny"
print(x[:3])
print(x[3:7])
print(x[7:12])
print(x[100])

the
quick
brown
fox
iwant
t
owa
tchloveisland
the
cute
bunny

IndexError: string index out of range

In [22]:
a = 4
b = 5
print(a+b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)

9
20
0.8
4
1024

In [ ]:
if (x > 4):
  print("hi")
elif x == 4:
  print("yes")
else:
  print("else")

In [25]:
for i in range(5):
  print("hi")

list1 = [1,22,3,4]
for i in list1:
  print(i)
x = -2
while x < 0:
  x = x+1
  print(x)

hi
hi
hi
hi
hi
1
22
3
4
-1
0

In [27]:
array = [1,2,3,4]
x = 1
for i in range(4):
  array[i] = array[i]+x
  x = x+2
for i in array:
  print(i)

2
5
8
11

In [28]:
list2 = [1, 23, 45, 2, 38]
for i in list2:
  x = i + 1
  print(i + x)

3
47
91
5
77